/* hoja de estilo para música */


/* ---------------------------------------------------------------------- */
/* reset */
*{
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
}
/* reset */
/* ---------------------------------------------------------------------- */



/* ---------------------------------------------------------------------- */
/* custom properties */
:root{
    --Main-color: #af0eac;
    --Main-colorAlt: #150015;
    --Main-colorAlt2: #2A002A;
    --Color-contrast: #ff5100;
    --Main-font: monospace;
}
/* custom properties */
/* ---------------------------------------------------------------------- */



/* ---------------------------------------------------------------------- */
/* body */
body{
    background-color:var(--Main-colorAlt);/* custom properties */
}
/* body */
/* ---------------------------------------------------------------------- */



/* ---------------------------------------------------------------------- */
/* header */
.Header{
    border:solid .25rem var(--Main-color);/* custom properties */
    min-height:10vh;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items: center;
    padding: 1rem;
}

.Header-a{
    text-decoration:none;
    font-size:2rem;
    font-family:var(--Main-font);/* custom properties */
    color: var(--Main-color);/* custom properties */
}

.Header-h1{
    color: var(--Color-contrast);/* custom properties */
    font-size: 2rem;
    font-family: var(--Main-font);/* custom properties */
}

.Header-h2{
    color:var(--Main-color);/* custom properties */
    font-size:2rem;
    font-family: var(--Main-font);/* custom properties */
}

.Header-a:hover{
    color: var(--Color-contrast);/* custom properties */
}
/* header */
/* ---------------------------------------------------------------------- */



/* ---------------------------------------------------------------------- */
/* main */
.Main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: solid .25rem var(--Main-color);/* custom properties */
    border-right: solid .25rem var(--Main-color) ;/* custom properties */
    padding: 5rem;

}

.Main-h3 {
    font-family: var(--Main-font);/* custom properties */
    color: var(--Main-color);/* custom properties */
    margin-bottom: 1rem;
    padding: .625rem;
    border-bottom: solid .25rem var(--Main-color);/* custom properties */
}

.Main-video{
    margin-bottom: 5rem;
    border: solid .25rem var(--Main-color);/* custom properties */
    
}

@media (max-width:650px){ /* para el responsive */
    .Main-iframe {
        width: 380px; 
        height: 257.5px; 
    }
}

@media (max-width:500px){ /* para el responsive */
    .Main-iframe {
        width: 280px; 
        height: 157.5px; 
    }
}
/* main */
/* ---------------------------------------------------------------------- */



/* ---------------------------------------------------------------------- */
/* footer */
.Footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid .25rem var(--Main-color);/* custom properties */
    padding: 2rem;
}

.Footer-span{
    color: var(--Main-color);/* custom properties */
    font-family: var(--Main-font);/* custom properties */
    font-size: 1,5rem;
}
/* footer */
/* ---------------------------------------------------------------------- */